<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Księgarania Testera</a>
  <div class="float-right">
    <a href="#"
       (click)="onOpenModal('cart')"
       style="margin-right: 10px; color: white">Koszyk ({{countCartItems()}})</a>

    <a href="#"
       (click)="onOpenModal('authorsModal')"
       style="margin-right: 10px; color: white"> [A] Lista autorów ({{countAuthors()}})</a>
    <a href="#"
       (click)="onOpenModal('booksModal')"
       style="margin-right: 10px; color: white"> [A] Lista książek ({{countBooks()}})</a>

    <a href="#"
       (click)="onOpenModal('ordersModal')"
       style="margin-right: 10px; color: white"> [A] Lista zamówień ({{countOrders()}})</a>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let book of books" class="col-md-6 col-xl-6">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-3">
            <a href=""><img src="{{book.coverUrl}}" alt="" class="shadow img-fluid rounded w-60"></a>
          </div>
          <div class="col-9 card-title align-self-center mb-0">
            <h5>{{book.title}}</h5>
            <p class="m-0">
              <span *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}}<br/></span>
            </p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cena : <a href="#">{{book.price}} PLN</a></li>
          <li class="list-group-item">Dostępnych egzemplarzy : {{book.available}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips"
               (click)="addToCart(book)"
               data-placement="top"
               data-toggle="tooltip"
               data-original-title="Add to Cart">Dodaj do koszyka
              <i class="fa fa-cart-arrow-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Twój koszyk ({{countCartItems()}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of cartItems">
          <img src="{{item.book.coverUrl}}" alt="" class="shadow img-fluid rounded w-60 float-right">
          <h4>{{item.book.title}}</h4>
          <h6><span *ngFor="let author of item.book.authors; last as isLast">{{author.fullName}}<span
            *ngIf="!isLast">, </span></span></h6>
          Ilość zamówionych książek: {{item.quantity}} <br> Cena za sztukę: {{item.book.price | number: '1.2'}} PLN
          <hr/>
        </div>
        <h5>Suma zamówienia</h5>
        <h4>{{totalCartAmount() | number: '1.2'}} PLN</h4>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearCart()" class="btn btn-danger align-left" data-dismiss="modal">Wyszyść
          koszyk
        </button>
        <button id="close-cart-button" type="button" class="btn btn-secondary" data-dismiss="modal">Kontynuuj zakupy
        </button>
        <button type="button" (click)="onOpenModal('order')" class="btn btn-primary">Załóż zamówienie</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adres zamówienia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #orderForm="ngForm" (ngSubmit)="onOrderSubmit(orderForm)">
          <div class="form-group">
            <div class="form-group">
              <label for="nameField">Imię i naziwko</label>
              <input ngModel name="name" type="text" class="form-control" id="nameField" required>
            </div>
            <label for="emailField">Adres email</label>
            <input ngModel name="email" type="email" class="form-control" id="emailField" required>
          </div>
          <div class="form-group">
            <label for="phoneField">Telefon</label>
            <input ngModel name="phone" type="text" class="form-control" id="phoneField" required>
          </div>
          <div class="form-group">
            <label for="streetField">Ulica i numer mieszkania/domu</label>
            <input ngModel name="street" type="text" class="form-control" id="streetField" required>
          </div>
          <div class="form-group">
            <label for="cityField">Miasto</label>
            <input ngModel name="city" type="text" class="form-control" id="cityField" required>
          </div>
          <div class="form-group">
            <label for="zipCodeField">Kod pocztowy</label>
            <input ngModel name="zipCode" type="text" class="form-control" id="zipCodeField" required>
          </div>
          <div class="modal-footer">
            <button id="cancel-order-button" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- CREATE AUTHOR MODAL -->
<div class="modal fade" id="createAuthorModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Utwórz autora</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createAuthorForm="ngForm" (ngSubmit)="onCreateAuthorSubmit(createAuthorForm)">
          <td *ngIf="confirmationErrorMessage">
            <label>{{confirmationErrorMessage}}</label>
          </td>
          <div class="form-group">
            <div class="form-group">
              <label for="firstNameField">Imię</label>
              <input ngModel name="firstName" type="text" class="form-control" id="firstNameField" required>
            </div>
            <label for="lastNameField">Nazwisko</label>
            <input ngModel name="lastName" type="text" class="form-control" id="lastNameField" required>
          </div>
          <div class="modal-footer">
            <button id="cancel-create-author-button" type="button" class="btn btn-secondary" data-dismiss="modal">
              Zamknij
            </button>
            <button type="submit" class="btn btn-primary">Wyślij</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- EDIT AUTHOR MODAL -->
<div class="modal fade" id="editAuthorModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edytuj autora</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editAuthorForm="ngForm" (ngSubmit)="onEditAuthorSubmit(currentAuthorId, editAuthorForm)">
          <td *ngIf="confirmationErrorMessage">
            <label>{{confirmationErrorMessage}}</label>
          </td>
          <div class="form-group">
            <div class="form-group">
              <label for="firstNameField">Imię</label>
              <input ngModel name="firstName" type="text" class="form-control" id="editFirstNameField"
                     [(ngModel)]="currentAuthorFirstName" required>
            </div>
            <label for="lastNameField">Nazwisko</label>
            <input ngModel name="lastName" type="text" class="form-control" id="editLastNameField"
                   [(ngModel)]="currentAuthorLastName" required>
          </div>
          <div class="modal-footer">
            <button id="cancel-edit-author-button" type="button" class="btn btn-secondary" data-dismiss="modal">
              Zamknij
            </button>
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- AUTHORS MODAL -->
<div class="modal fade" id="authorsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lista autorów</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let author of authors" class="col-md-12 col-xl-12">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-3">
                <a href=""><img src="https://akademiaqa.pl/wp-content/uploads/2022/12/face_icon_2.png" alt=""
                                class="shadow img-fluid rounded w-60"></a>
              </div>
              <div class="col-9 card-title align-self-center mb-0">
                <p>
                  {{author.id}}. {{author.firstName}} {{author.lastName}}
                </p>
                <button type="button" (click)="onEditAuthorClicked(author.id)" class="btn btn-primary"
                        data-dismiss="modal"> Edytuj
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" (click)="onDeleteAuthorSubmit(author.id)" class="btn btn-primary"
                        data-dismiss="modal"> Usuń
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancel-authors-button" type="button" class="btn btn-secondary" data-dismiss="modal">
          Zamknij
        </button>
        <button type="button" (click)="onOpenModal('createAuthorModal')" class="btn btn-primary" data-dismiss="modal">
          Dodaj autora
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Books MODAL -->
<div class="modal fade" id="booksModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lista książek {{countAdminBooks()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let book of admin_books" class="col-md-12 col-xl-12">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-3">
                <p>
                  <a href=""><img src="{{book.coverUrl}}" alt=""
                                  class="shadow img-fluid rounded w-60"></a>
                </p>
              </div>
              <div class="col-9 card-title align-self-center mb-0">
                <p>
                  <strong>{{book.id}}. {{book.title}}</strong>
                </p>
                <p>
                  <span *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}}<br/></span>
                </p>
                <p>
                  Cena: {{book.price}} PLN
                </p>
                <p>
                  Dostępnych egzemplarzy: {{book.available}} PLN
                </p>
                <button type="button" (click)="onEditAuthorClicked(book.id)" class="btn btn-primary"
                        data-dismiss="modal"> Edytuj
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" (click)="onDeleteBookSubmit(book.id)" class="btn btn-primary"
                        data-dismiss="modal"> Usuń
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancel-books-button" type="button" class="btn btn-secondary" data-dismiss="modal">
          Zamknij
        </button>
        <button type="button" (click)="onOpenModal('createBookModal')" class="btn btn-primary" data-dismiss="modal">
          Dodaj książkę
        </button>
      </div>
    </div>
  </div>
</div>

<!-- CREATE BOOK MODAL -->
<div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj książkę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createBookForm="ngForm" (ngSubmit)="onCreateBookSubmit(createBookForm)">
          <td *ngIf="confirmationErrorMessage">
            <label>{{confirmationErrorMessage}}</label>
          </td>
          <div class="form-group">
            <label for="titleField">Tytuł</label>
            <input ngModel name="title" type="text" class="form-control" id="titleField" required>
          </div>
          <div class="form-group">
<!--            <label for="authorsField">Autorzy:</label>-->
<!--            <input ngModel="list" type="text" name="authors" class="form-control" id="authorsField" required>-->

            <label for="authorsField">Autorzy:</label>
            <select id="authorsField" name="authors" ng-model="data.model" multiple>
              <option *ngFor="let author of authors" [ngValue]="author.fullName">{{author.fullName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="yearField">Rok wydania:</label>
            <input ngModel name="year" type="text" class="form-control" id="yearField" required>
          </div>
          <div class="form-group">
            <label for="priceField">Cena:</label>
            <input ngModel name="price" type="text" class="form-control" id="priceField" required>
          </div>
          <div class="form-group">
            <label for="availableField">Ilość egzemploarzy:</label>
            <input ngModel name="available" type="text" class="form-control" id="availableField" required>
          </div>
          <div class="modal-footer">
            <button id="cancel-create-book-button" type="button" class="btn btn-secondary" data-dismiss="modal">
              Zamknij
            </button>
            <button type="submit" class="btn btn-primary">Wyślij</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ORDERS MODAL -->
<div class="modal fade" id="ordersModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lista zamówień</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let order of orders" class="col-md-12 col-xl-12">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-12 card-title align-self-center mb-0">
                <strong>Zamówienie {{order.id}} - status {{order.status}}</strong><br>
                <span
                  *ngFor="let orderItem of order.items">Książka <strong>{{orderItem.book.title}}</strong><br/>ilość: {{orderItem.quantity}}
                  | cena za sztukę: {{orderItem.book.price}}<br></span>
                <br>
                <strong>Dane zamawiającego:</strong><br>
                <p>{{order.recipient.name}}<br>
                  {{order.recipient.email}}<br>
                  {{order.recipient.city}}<br>
                  {{order.recipient.street}}<br>
                  {{order.recipient.zipCode}}<br>
                  {{order.recipient.phone}}<br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancel-orders-button" type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
